* {  
    padding: 0;  
    margin: 0;  
}  

body {  
    background-color: #fdeef4; /* 柔和的粉红色 */  
    display: flex; /* 使用 Flexbox 布局 */  
    justify-content: center; /* 水平居中 */  
    align-items: center; /* 垂直居中 */  
    height: 100vh; /* 使 body 高度为视口高度 */  
    position: relative; /* 相对定位，方便绝对定位的子元素 */  
}  

canvas {  
    width: 100%;  
    height: 100vh;  
    background-color: #fdeef4; /* 柔和的粉红色背景 */  
    position: absolute;  
    top: 0;  
    left: 0;  
    z-index: -1; /* 确保背景在其他内容下方 */  
}  

.love_you {  
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 1.3rem;  
    font-weight: bold;  
    color: #ffc0cb;  
    letter-spacing: .05rem;  
    -moz-animation: love-xf 1.2s alternate ease-in-out;  
    -webkit-animation: love-xf 1.2s alternate ease-in-out;  
    animation: love-xf 1.2s alternate ease-in-out;  
    user-select: none;  
    -webkit-text-shadow: 0 0 8px #fff;  
    text-shadow: 0 0 8px #fff;  
    z-index: 1; /* 确保文字在画布上方 */  
}  
